.btn{
    border: 1px solid #2eb2ff;
    background: #2eb2ff;
    color: #ffffff;
    border-radius: 15px;
    height: 38px;
    min-width: 38px;
    padding: 2px 5px;
    transition: 0.3s;
    outline:solid 0px #4dbeff33;
    -webkit-appearance: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn:hover{
    background-color: #80d0ff;
    border-color: #80d0ff;
}

.btn:active,.btn .theme-emerald:active,.btn .theme-primary:active,.btn .theme-purple:active{
    background-color: #217db3;
    border-color: #217db3;
    animation: outline-spread 0.3s ease;
}

.btn-trans{
    background: #ffffff !important;
    color: #000000;
    border: #a7a7a7 1px solid;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-trans .theme-primary:hover,.btn-trans:hover{
    color: #4dbeff !important;
}

.btn-trans.theme-purple{
    color: #ac30ff !important;
}

.btn-trans.theme-emerald{
    color: #30ffac !important;
}

.theme-purple{
    color: #ffffff;
    background-color: #ac30ff !important;
    border-color: #ac30ff !important;
    outline-color: #ac30ff33 !important;
}

.theme-purple:hover{
    background-color: #cf87ff !important;
    border-color: #cf87ff !important;
}

.theme-purple:active{
    background-color: #7720b1 !important;
    border-color: #7720b1 !important;
}

.theme-primary{
    color: #ffffff;
    background-color: #2eb2ff !important;
    border-color: #2eb2ff !important;
    outline-color: #4dbeff33 !important;
}

.theme-primary:hover{
    background-color: #80d0ff !important;
    border-color: #80d0ff !important;
}


.theme-emerald{
    color: #ffffff ;
    background-color: #30ffac;
    border-color: #30ffac;
    outline-color: #30ffac33 !important;
}

.theme-emerald:hover{
    background-color: #7cffcb !important;
    border-color: #7cffcb !important;
}

.theme-emerald:active{
    background-color: #23bb7e !important;
    border-color: #23bb7e !important;
}

@keyframes outline-spread{
    0% {
        outline-width: 0px;
    }
    80% {
        outline-width: 4px;
    }
    100% {
        outline-width: 6px;
    }
}