.round-none{
    border-radius: none;
}

.round-xsm{
    border-radius: 3px;
}

.round-sm{
    border-radius: 6px;
}

.round-md{
    border-radius: 12px;
}

.round-lg{
    border-radius: 20px;
}

.round-xlg{
    border-radius: 40px;
}